h3{
    color: rgb(70, 70, 228);
    font-family:sans-serif;
}
.youtube-left{
    width:50%;
    height:100%;
    position:fixed
}
.youtube-right{
    margin-left: 600px;
    position: fixed;
}
form{
    width: 250px;
    height:200px;
    margin-top: 50px;;
    margin-left:400px;
    padding-left:100px;
    padding-top: 100px;
}
.registration{
    background-color: rgb(28, 57, 144);
}
.login{
    background-color: rgb(38, 143, 209);
}
input{
    margin:2px;
    border-radius: 5px;;
}